<!--

  Powered by: https://www.gov.uk/api/governments

  https://github.com/dsingleton/who-is-the-government

-->
<html>
<head>
  <title>Who is the government?</title>
  <style>
  body {
    margin: 0;
    padding: 1vh 8vh;

    font: medium/1.4 Futura, "Trebuchet MS", Arial, sans-serif;;
    text-align: center;

    color: #fff;
    background: mediumturquoise;
  }

  h1 {
    font-size: 7vh;
    font-weight: normal;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  </style>
</head>
<body>

  <h1><%= @gov %></h1>

</body>
</html>
