<!--

  Powered by: https://www.gov.uk/api/governments

  https://github.com/dsingleton/who-is-the-government

-->
<html>
<head>
  <title>Who is the government?</title>
  <style>
  body {
    margin: 0;
    padding: 1vh 8vh;

    font: medium/1.4 Futura, "Trebuchet MS", Arial, sans-serif;;
    text-align: center;

    color: #fff;
    background: mediumturquoise;
  }

  h1 {
    font-size: 7vh;
    font-weight: normal;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  </style>
</head>
<body>

  <h1><%= @gov %></h1>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61272652-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
